<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slide Menu Bar</title>
    <link rel="stylesheet" href="../static/css/style4.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header style="color: seagreen">BlockChain</header>
    <ul>
        <li><a href="/getbestblockhash.html"><i class="fas fa-qrcode"></i>GetBestBlockHash</a></li>
        <li><a href="/getblockchaininfo.html"><i class="fas fa-link"></i>GetBlockChainInfo</a></li>
        <li><a href="/getdifficulty.html"><i class="fas fa-stream"></i>GetDifficulty</a></li>
        <li><a href="/getblockcount.html"><i class="fas fa-calendar-week"></i>GetBlockCount</a></li>
        <li><a href="#"><i class="far fa-question-circle"></i>--待开发--</a></li>
        <li><a href="#"><i class="fas fa-sliders-h"></i>--待开发--</a></li>
        <li><a href="#"><i class="far fa-envelope"></i>--待开发--</a></li>
    </ul>
</div>
<section>
    <ul style="margin:0px auto;width:80px;display:block">
        <li>{{.BestBlockHash}}</li>
        <li>区块总数：</li>
        <li>{{.BlockChainInfo.Blocks}}</li>
        <li>区块头：</li>
        <li>{{.BlockChainInfo.Headers}}</li>
        <li>最新区块的hash：</li>
        <li>{{.BlockChainInfo.BestBlockHash}}</li>
        <li>区块难度：</li>
        <li>{{.BlockChainInfo.Difficulty}}</li>
        <li>区块链的Mediantime：</li>
        <li>{{.BlockChainInfo.Mediantime}}</li>
        <li>区块链的Verificationprogress：</li>
        <li>{{.BlockChainInfo.Verificationprogress}}</li>
        <li>区块链的Initialblockdownload：</li>
        <li>{{.BlockChainInfo.Initialblockdownload}}</li>
        <li>区块链的Chainblock：</li>
        <li>{{.BlockChainInfo.Chainblock}}</li>
        <li>区块链的Size_on_desk：</li>
        <li>{{.BlockChainInfo.Size_on_desk}}</li>
        <li>区块链的Pruned：</li>
        <li>{{.BlockChainInfo.Pruned}}</li>
        <li>区块链的Warnings：</li>
        <li>{{.BlockChainInfo.Warnings}}</li>
        <li>{{.Difficulty}}</li>
        <li>{{.BlockCount}}</li>
    </ul>
</section>
</body>
</html>