

<!DOCTYPE html>
<html>
<head>
    <title>BTC登录页面 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Custom Theme files -->
    <link rel="stylesheet" type="text/css" href="../static/assets/waifu.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="../static/css/snow.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->

</head>
<style>
    #sms_login {
        display: block;
        width: 100%;
        height: 40px;
        font-size: 15px;
        font-weight: 800;
        border: none;
        background: #fff;
        color: #000;
        border-radius: 5px;
        margin: auto;
    }
    #sms_login:hover{
        background: #df5799;
        color: #fff;
        cursor: pointer;

    }

    #sms1 {
        padding: 32px 45px;
        background-color: #ffffff;
    }
    #sms2 {
        padding: 32px 45px;
        background-color: #ffffff;
    }
    #sms_login1{
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        border: none;
        font-size: 30px;

    }
    #sms_login1:hover{
        background: red;
        cursor: pointer;
        color: #ffffff;
    }
</style>
<body>
<div class="snow-container">

    <div class="snow foreground"></div>
    <div class="snow foreground layered"></div>
    <div class="snow middleground"></div>
    <div class="snow middleground layered"></div>
    <div class="snow background"></div>
    <div class="snow background layered"></div>

</div>

<div class="top-buttons-agileinfo">
    <a href="register.html" class="active">注册</a>
</div>
<h1>A组BTC客户端节点查询系统</h1>
<div class="main-agileits">

    <!--form-stars-here-->
    <div class="form-w3-agile">
        <h2 class="sub-agileits-w3layouts">登录系统</h2>
        <form action="/home" method="post">
            <input type="text" name="phone" placeholder="User" required="" />
            <input type="password" name="password" placeholder="Password" required="" />
            <a href="#" class="forgot-w3layouts">忘记密码 ?</a>
            <div class="submit-w3l">
                <input type="submit" value="登录" style="border-radius: 5px">
            </div>
            <div class="submit-w3l" style="padding-top: 15px">
                <input type="button" value="短信验证码登录" id="sms_login" onclick=sms()>
            </div>

            <p class="p-bottom-w3ls"><a href="signup.html">这里注册</a>如果你还没有一个账号.</p>
        </form>
    </div>
</div>
<!--//form-ends-here-->
<!-- copyright -->
<div class="copyright w3-agile">
</div>
<!-- //copyright -->
<script type="text/javascript" src="jquery-2.1.4.min.js"></script>

<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-home"></span>
        <span class="fui-chat"></span>
        <span class="fui-eye"></span>
        <span class="fui-user"></span>
        <span class="fui-photo"></span>
        <span class="fui-info-circle"></span>
        <span class="fui-cross"></span>
    </div>
</div>
<div id="sms1" class="sign-in-form"
     style="display: none;z-index: 999;position: fixed;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%)">
    <h3 style="width: 50px;font-size: 20px;padding-bottom: 10px">登录</h3>
    <div style="position: absolute;top: 20px;right: 20px">
        <input type="button" value="×" id="sms_login1" onclick=sms1() />
    </div>
    <form style="height: 300px;" method="post" action="/send_sms" style="width: 300px;height: 340px">
        <div style="height: 400px">
            <div class="phone-number" style="margin-bottom: 20px">

                <input name="biz_id" value="{{.BizId}}" hidden="hidden"/>
                <div class="column-input input-component"><input type="text" name="phone"
                                                                 style="width: 325px;height: 44px;padding-left: 14px"
                                                                 value="{{.Phone}}" placeholder="请输入手机号码"
                                                                 draggable="false"
                                                                 autocomplete="on"><span
                            class="error-text"></span></div>
            </div>
            <div class="code" style="margin-bottom: 0px;">
                <div class="column-input input-component" style="margin-right: 0px;width: 340px;padding-bottom: 14px;padding-right: 10px">
                    <input type="text" name="code"
                           style="width: 200px;height: 44px;padding-left: 14px;margin-right: 10px"
                           value=""
                           placeholder="请输入验证码"
                           draggable="false"
                           autocomplete="on"><span
                            class="error-text"></span>
                    <button id="button_sms" type="submit" class="login-code" style="width: 100px;height: 48px;position: relative;top: 2px;left: 5px" onclick="login_sms()">发送验证码</button>
                </div>
            </div>
            <div style="margin: 16px 0px 21px 2px; font-size: 14px; display: flex; align-items: center; justify-content: space-between;">
                <a href="/"><span class="to-register" style="padding-right: 7px;"></span></a>
                <a href="register.html"><span class="to-register" style="padding-right: 7px;"></span></a></div>
            <button id="login" type="submit" class="login" style="width: 340px;height: 44px" disabled="disabled">登录</button>
        </div>
         </form>
    <div style="display: flex;"><span style="color: rgb(119, 119, 119);">其他方式：</span><img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAPFBMVEU8sDQ8sDQ8sDT+//48sDQ8sDQ8sDQ8sDQ8sDQ8sDTv+e7I6cWd2Jl3yHJfvliy4K9LtkTV7tPd8dvZ8Nine8iGAAAACnRSTlMBqVH/jFqs/t9UFk9JGgAAAKRJREFUGNN1kekOhCAMhNEKxXKuvP+7bg9W3UTnBwlfmB6Dcyq/RMS4rO7SysQUT7zhTdsDm3RH7I2AUp10ZxixE6jKrMt9ERO0DKMAdaPeBUR+xG8pjWwVArtRvZTkTOZHsbM+MAi4kFCBVRoNOASCQlmmMDxsAlD7IrD2mo01beR/m1jlriO5M4ySWTa8rPkv/xbIc3Rc4Qp5v2Xvg3xH8Hb7ApRuCUY0kvzYAAAAAElFTkSuQmCC"
                style="margin: 0px 6px 0px 14px; cursor: pointer;"><span
                style="cursor: pointer;">微信登录</span><img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAeFBMVEVHcExtw/EAoOkAkOYAn+kAoOkAoOkAoOkAoOkAoOn///8AoOkAoOnT7/vS7PsAkOUAoOn///8CouoAnegAj+UOpOoBm+io3vcCmOcAk+YYp+tVvvAAh+Nsx/Ls9/3Y8fyK1PXH6vua2vcvq+w8tO665Pl7zvTe9f2LytG+AAAAEHRSTlMACbmgq2eT4fNX1xFI0Lbyfc6udgAAAQdJREFUGNNFkdl2wyAMRElqB5xu2sBg8Bo7+f8/rOw07bwI3QMjncGYQ01lnbNVczJ/aiyAizEQ2ObFLqBi33ktdPllxMwxbtiLHp70g4HIQxgV0q7dwUHKrWrAeS8U3Mk0h51qxHv0/kYAtanUPeZlWR44L0tLkeBsdBsQ0pu+u02IHACsWoaUp6lfYymtztKtnHGcNhwGRNwmHEUhOGNlGjtJvC7Kx+xFotVBGwkDl7JTxDb7yjS8rSVGKXd83PqH4uHLmO8ec9flEWcd5fsZ8aoRyf1416fkKRVZP697IOJzXqMEz7oPv5kj1EtMkgIc4uoVaG3picDV/9Gf6vP+Hef6/Wh/ACEXGgy96yTxAAAAAElFTkSuQmCC"
                style="margin: 0px 6px 0px 14px; cursor: pointer;"><span
                style="cursor: pointer;">支付宝登录</span></div>
</div>
<div id="sms2" class="sign-in-form"
     style="display: none;z-index: 1000;position: fixed;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%)">
    <h3 style="width: 50px;font-size: 20px;padding-bottom: 10px;">登录</h3>
    <div style="position: absolute;top: 20px;right: 20px">
        <input type="button" value="×" id="sms_login1" onclick=sms1() />
    </div>
    <form style="height: 300px;" method="post" action="/login_sms" style="width: 300px;height: 340px">
        <div>
            <div class="phone-number" style="margin-bottom: 20px">

                <input name="biz_id" value="{{.BizId}}" hidden="hidden"/>
                <div class="column-input input-component"><input type="text" name="phone"
                                                                 style="width: 325px;height: 44px;padding-left: 14px"
                                                                 value="{{.Phone}}" placeholder="请输入手机号"
                                                                 draggable="false"
                                                                 autocomplete="on"><span
                            class="error-text"></span></div>
            </div>
            <div class="code" style="margin-bottom: 0px;">
                <div class="column-input input-component" style="margin-right: 0px;width: 340px;padding-bottom: 14px;padding-right: 10px">
                    <input type="text" name="code"
                           style="width: 200px;height: 44px;padding-left: 14px;margin-right: 10px"
                           value=""
                           placeholder="请输入验证码"
                           draggable="false"
                           autocomplete="on"><span
                            class="error-text"></span>
                    <button id="button_sms1" type="submit" class="login-code" style="width: 100px;height: 48px;position: relative;top: 2px;left: 5px" disabled="disabled" onclick="login_sms()">发送验证码</button>
                </div>
            </div>
            <div style="margin: 16px 0px 21px 2px; font-size: 14px; display: flex; align-items: center; justify-content: space-between;">
                <a href="/"><span class="to-register" style="padding-right: 7px;"></span></a>
                <a href="register.html"><span class="to-register" style="padding-right: 7px;"></span></a></div>
        </div>
        <button id="login1" type="submit" class="login" style="width: 340px;height: 44px">登录</button>
    </form>
    <div style="display: flex;"><span style="color: rgb(119, 119, 119);">其他方式：</span><img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAPFBMVEU8sDQ8sDQ8sDT+//48sDQ8sDQ8sDQ8sDQ8sDQ8sDTv+e7I6cWd2Jl3yHJfvliy4K9LtkTV7tPd8dvZ8Nine8iGAAAACnRSTlMBqVH/jFqs/t9UFk9JGgAAAKRJREFUGNN1kekOhCAMhNEKxXKuvP+7bg9W3UTnBwlfmB6Dcyq/RMS4rO7SysQUT7zhTdsDm3RH7I2AUp10ZxixE6jKrMt9ERO0DKMAdaPeBUR+xG8pjWwVArtRvZTkTOZHsbM+MAi4kFCBVRoNOASCQlmmMDxsAlD7IrD2mo01beR/m1jlriO5M4ySWTa8rPkv/xbIc3Rc4Qp5v2Xvg3xH8Hb7ApRuCUY0kvzYAAAAAElFTkSuQmCC"
                style="margin: 0px 6px 0px 14px; cursor: pointer;"><span
                style="cursor: pointer;">微信登录</span><img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAeFBMVEVHcExtw/EAoOkAkOYAn+kAoOkAoOkAoOkAoOkAoOn///8AoOkAoOnT7/vS7PsAkOUAoOn///8CouoAnegAj+UOpOoBm+io3vcCmOcAk+YYp+tVvvAAh+Nsx/Ls9/3Y8fyK1PXH6vua2vcvq+w8tO665Pl7zvTe9f2LytG+AAAAEHRSTlMACbmgq2eT4fNX1xFI0Lbyfc6udgAAAQdJREFUGNNFkdl2wyAMRElqB5xu2sBg8Bo7+f8/rOw07bwI3QMjncGYQ01lnbNVczJ/aiyAizEQ2ObFLqBi33ktdPllxMwxbtiLHp70g4HIQxgV0q7dwUHKrWrAeS8U3Mk0h51qxHv0/kYAtanUPeZlWR44L0tLkeBsdBsQ0pu+u02IHACsWoaUp6lfYymtztKtnHGcNhwGRNwmHEUhOGNlGjtJvC7Kx+xFotVBGwkDl7JTxDb7yjS8rSVGKXd83PqH4uHLmO8ec9flEWcd5fsZ8aoRyf1416fkKRVZP697IOJzXqMEz7oPv5kj1EtMkgIc4uoVaG3picDV/9Gf6vP+Hef6/Wh/ACEXGgy96yTxAAAAAElFTkSuQmCC"
                style="margin: 0px 6px 0px 14px; cursor: pointer;"><span
                style="cursor: pointer;">支付宝登录</span></div>
</div>
<script>
    function sms() {
        document.getElementById('sms1').style.display = "block";
        document.getElementById('sms2').style.display = "none";
    }

    function sms1() {
        document.getElementById('sms1').style.display = "none";
        document.getElementById('sms2').style.display = "none";
    }
    function login_sms() {
        document.getElementById('sms1').style.display = "none";
        document.getElementById('sms2').style.display = "block";
        $("#login").attr('disabled',false);

        var time = 4;
        var clean = setInterval(function () {
            $("#button_sms1").attr('disabled',true)
            time = time - 1;
            document.getElementById("button_sms1").innerHTML = time;
            if(time == 0){
                $("#button_sms1").attr('disabled',false)
                document.getElementById("button_sms1").innerHTML = "发送验证码";
                clearInterval(clean);
            }
        }, 1000);

    }
</script>
<script src="../static/assets/waifu-tips.js"></script>
<script src="../static/assets/live2d.js"></script>
<script type="text/javascript">initModel("../static/assets/")</script>

</body>
</html>
